.app_header{
    background-color: white;
    position: sticky;
    top:0px;
    width: 99%;
    padding: 10px;
    object-fit: contain;
    border-bottom: 1px  solid lightgray;
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}
  
.app_headerImage{
    object-fit: contain;
    width: 15vh;
    margin-left: 5vw;
}

.Header_Sidebar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Signup_popup,.Signin_popup{
    position: 'absolute';
    margin-top: 10vh;
    margin-left: 30%;
    width: 10vw;
    text-align: center;
    border: '2px solid #000';
    height: fit-content;
    width: fit-content;
}

@media only screen and (max-width: 600px) {
    .Signup_popup,.Signin_popup{
        margin-left: 17%;
    }
    button{
        transform: scale(0.7);
    }
}

@media only screen and (max-width: 380px) {
    .Signup_popup,.Signin_popup{
        margin-left: 12%;
    }
}

@media only screen and (min-width: 1200px){
    .Signup_popup,.Signin_popup{
        margin-left: 35%;
    }
}