.Post{
    background-color: white;
    margin: 27.5px;
    width: 100%;
    max-width: 600px;
    border: 1px  solid lightgray;
    border-radius: 2px;
}

.Post_header{
    height: 27px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
}

.Post_image{
    width: 100%;
    object-fit: contain;
    border-bottom: 1px  solid rgba(211, 211, 211, 0.404);
    border-top: 1px  solid  rgba(211, 211, 211, 0.404);
}

.Post_commentsection{
    padding:13px;
}

.Comment_form{
    width: 100%;
    display: flex;
}

.comment_input{
    width: 100%;
}

.Comment_Post_Button{
    background-color: white;
    border: none;
}

.arrow{
    cursor: pointer;
}